h1{
  text-align: center;
  border-width: 2px;
  border-style: solid;
  margin-bottom: 0px;
  margin-top: 0px;
  background-color: rgb(123, 0, 255);
  position: relative;
  height: 10%;
}

.container_main {
  display: flex;
  width: 100%;
  height: 85vh;
  border-width: 2px;
  border-style: solid;

}
.container_game {
  width: 90%;
  height: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 0px;
  margin: 0px 0px;
  background-color: rgb(165, 188, 223);
  position:relative;
  background-image: url('/img/background.png');
  background-size: 100% 100%;
}
.container_controls {
  display: flex;
  width: 5%;
  height: 100%;  
  border-width: 2px;
  border-style: solid;
  flex-direction: column;
}
.game_button {
  height: 28.3vh;
  font-size: xx-large;
  padding: 0px 0px;
  z-index: 1;
}
#SFB {
  /* display: inline-flex; */
  position: absolute;
  background-color: rgba(0,0,0,0);
  width: 50px;
  height: 50px;
  left: 25%;
  /* top: 50%; */
}
.rock {
  position: absolute;
  background-color: brown;
  width: 5%;
  height: 10%;
  margin-top: 0px;
  margin-left: 0px;
  border:1px solid;
}
.groundRock {
  position: absolute;
  background-color: brown;
  width: 5%;
  height: 3%;
  bottom: 0%;
  margin-top: 0px;
  margin-left: 0px;
  border:5px solid;
}
#missile {
  position: absolute;
  background-image: url('/img/imgMissileGame.png');
  background-size: 100% 100%;
  background-position: bottom;
  width: 10%;
  height: 20%;
  left: -1%;
  top: -1%;
}

img.button {
  height: 30%;
  width: 100%;
  align-self: center;  
}
img.imgSFB {
  height: 120%;
  width: 120%;
  position: relative;
  left: -10%;
  top: -10%;
}

button#startStop{
  width: auto;
  height: auto;
  font-size: 20px;
  float: right;
  margin-top: 4px;
  
}